@model UserCredentials
<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <form asp-route-returnurl="@ViewBag.returnUrl" method="post" class="form-group-lg form-horizontal">
                <label class="label-success">Username:</label>
                <input class="form-control" type="text" name="Username" />

                <label class="label-success">Password:</label>
                <input class="form-control" type="password" name="Password" />

                <button type="submit" class="btn btn-lg btn-success">Login</button>
            </form>
        </div>
    </div>
</div>